In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Practice").getOrCreate()

25/03/07 12:58:49 WARN Utils: Your hostname, ASDLAPKCH0627 resolves to a loopback address: 127.0.1.1; using 10.10.150.163 instead (on interface wlp0s20f3)
25/03/07 12:58:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/07 12:58:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/07 12:58:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
spark

In [3]:
df=spark.read.option("header","True").csv("ecommerce.csv")

In [4]:
df.show()

+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|transaction_id|customer_id|   product|quantity|  price|      date|       category|         city|shipping_method|discount|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|         T0001|       C139|Smartphone|       2| 425.17|2025-03-05|       Clothing|  Los Angeles|       Standard|       5|
|         T0002|       C020|Smartwatch|       1|  73.31|2025-03-07|Home Appliances|        Miami|        Express|       0|
|         T0003|       C058|Smartwatch|       2| 898.36|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0004|       C077|Smartphone|       2| 718.81|2025-03-06|Home Appliances|         NULL|        Express|      15|
|         T0005|       C070|    Tablet|       1| 733.15|2025-03-02|    Electronics|      Seattle|       Standard|      20|
|         T0006|       C078|   Monitor|       3| 760.61|2025-03-02|    Accessories|San Francisco|       Standard|      20|
|         T0007|       C025|  Keyboard|       3| 289.53|2025-03-07|           NULL|      Seattle|        Express|       5|
|         T0008|       C196|    Laptop|       3| 902.84|2025-03-05|Home Appliances|      Seattle|        Express|      15|
|         T0009|       C097|Smartphone|       2| 257.27|2025-03-01|           NULL|       Boston|       Standard|      10|
|         T0010|       C122|Headphones|       2| 297.01|2025-03-02|    Accessories|      Chicago|        Express|       0|
|         T0011|       C126|   Monitor|       3|  679.6|2025-03-02|    Electronics|     New York|       Standard|      20|
|         T0012|       C065|    Tablet|       3|1144.64|2025-03-07|    Electronics|      Seattle|        Express|      15|
|         T0013|       C079|   Monitor|       2| 419.75|2025-03-07|       Clothing|  Los Angeles|        Express|      10|
|         T0014|       C138|   Monitor|       2| 540.93|2025-03-04|    Electronics|  Los Angeles|       Standard|       5|
|         T0015|       C174|Smartphone|       2|1120.44|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0016|       C186|Smartwatch|       2|  91.25|2025-03-02|    Electronics|       Boston|        Express|      15|
|         T0017|       C113|  Keyboard|       2| 217.97|2025-03-04|    Accessories|     New York|       Standard|       0|
|         T0018|       C109|    Tablet|       1| 981.69|2025-03-05|       Clothing|      Chicago|       Standard|      10|
|         T0019|       C064|Smartphone|       3| 919.55|2025-03-07|    Electronics|        Miami|       Standard|      15|
|         T0020|       C013|   Monitor|       2| 442.55|2025-03-05|    Accessories|      Seattle|        Express|      10|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
only showing top 20 rows

In [5]:
df.na.drop().show()

+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|transaction_id|customer_id|   product|quantity|  price|      date|       category|         city|shipping_method|discount|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|         T0001|       C139|Smartphone|       2| 425.17|2025-03-05|       Clothing|  Los Angeles|       Standard|       5|
|         T0002|       C020|Smartwatch|       1|  73.31|2025-03-07|Home Appliances|        Miami|        Express|       0|
|         T0003|       C058|Smartwatch|       2| 898.36|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0005|       C070|    Tablet|       1| 733.15|2025-03-02|    Electronics|      Seattle|       Standard|      20|
|         T0006|       C078|   Monitor|       3| 760.61|2025-03-02|    Accessories|San Francisco|       Standard|      20|
|         T0008|       C196|    Laptop|       3| 902.84|2025-03-05|Home Appliances|      Seattle|        Express|      15|
|         T0010|       C122|Headphones|       2| 297.01|2025-03-02|    Accessories|      Chicago|        Express|       0|
|         T0011|       C126|   Monitor|       3|  679.6|2025-03-02|    Electronics|     New York|       Standard|      20|
|         T0012|       C065|    Tablet|       3|1144.64|2025-03-07|    Electronics|      Seattle|        Express|      15|
|         T0013|       C079|   Monitor|       2| 419.75|2025-03-07|       Clothing|  Los Angeles|        Express|      10|
|         T0014|       C138|   Monitor|       2| 540.93|2025-03-04|    Electronics|  Los Angeles|       Standard|       5|
|         T0015|       C174|Smartphone|       2|1120.44|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0016|       C186|Smartwatch|       2|  91.25|2025-03-02|    Electronics|       Boston|        Express|      15|
|         T0017|       C113|  Keyboard|       2| 217.97|2025-03-04|    Accessories|     New York|       Standard|       0|
|         T0018|       C109|    Tablet|       1| 981.69|2025-03-05|       Clothing|      Chicago|       Standard|      10|
|         T0019|       C064|Smartphone|       3| 919.55|2025-03-07|    Electronics|        Miami|       Standard|      15|
|         T0020|       C013|   Monitor|       2| 442.55|2025-03-05|    Accessories|      Seattle|        Express|      10|
|         T0021|       C138|   Monitor|       3| 361.46|2025-03-03|Home Appliances|  Los Angeles|        Express|       5|
|         T0022|       C014|Headphones|       3| 713.51|2025-03-07|    Electronics|        Miami|        Express|       0|
|         T0023|       C029|Smartphone|       2| 113.54|2025-03-02|       Clothing|       Boston|       Standard|       5|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
only showing top 20 rows

In [10]:
df.na.drop(how="any",thresh=2).show()

+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|transaction_id|customer_id|   product|quantity|  price|      date|       category|         city|shipping_method|discount|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|         T0001|       C139|Smartphone|       2| 425.17|2025-03-05|       Clothing|  Los Angeles|       Standard|       5|
|         T0002|       C020|Smartwatch|       1|  73.31|2025-03-07|Home Appliances|        Miami|        Express|       0|
|         T0003|       C058|Smartwatch|       2| 898.36|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0004|       C077|Smartphone|       2| 718.81|2025-03-06|Home Appliances|         NULL|        Express|      15|
|         T0005|       C070|    Tablet|       1| 733.15|2025-03-02|    Electronics|      Seattle|       Standard|      20|
|         T0006|       C078|   Monitor|       3| 760.61|2025-03-02|    Accessories|San Francisco|       Standard|      20|
|         T0007|       C025|  Keyboard|       3| 289.53|2025-03-07|           NULL|      Seattle|        Express|       5|
|         T0008|       C196|    Laptop|       3| 902.84|2025-03-05|Home Appliances|      Seattle|        Express|      15|
|         T0009|       C097|Smartphone|       2| 257.27|2025-03-01|           NULL|       Boston|       Standard|      10|
|         T0010|       C122|Headphones|       2| 297.01|2025-03-02|    Accessories|      Chicago|        Express|       0|
|         T0011|       C126|   Monitor|       3|  679.6|2025-03-02|    Electronics|     New York|       Standard|      20|
|         T0012|       C065|    Tablet|       3|1144.64|2025-03-07|    Electronics|      Seattle|        Express|      15|
|         T0013|       C079|   Monitor|       2| 419.75|2025-03-07|       Clothing|  Los Angeles|        Express|      10|
|         T0014|       C138|   Monitor|       2| 540.93|2025-03-04|    Electronics|  Los Angeles|       Standard|       5|
|         T0015|       C174|Smartphone|       2|1120.44|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0016|       C186|Smartwatch|       2|  91.25|2025-03-02|    Electronics|       Boston|        Express|      15|
|         T0017|       C113|  Keyboard|       2| 217.97|2025-03-04|    Accessories|     New York|       Standard|       0|
|         T0018|       C109|    Tablet|       1| 981.69|2025-03-05|       Clothing|      Chicago|       Standard|      10|
|         T0019|       C064|Smartphone|       3| 919.55|2025-03-07|    Electronics|        Miami|       Standard|      15|
|         T0020|       C013|   Monitor|       2| 442.55|2025-03-05|    Accessories|      Seattle|        Express|      10|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
only showing top 20 rows

In [11]:
df.na.drop(how="any",subset=["category"]).show()

+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|transaction_id|customer_id|   product|quantity|  price|      date|       category|         city|shipping_method|discount|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|         T0001|       C139|Smartphone|       2| 425.17|2025-03-05|       Clothing|  Los Angeles|       Standard|       5|
|         T0002|       C020|Smartwatch|       1|  73.31|2025-03-07|Home Appliances|        Miami|        Express|       0|
|         T0003|       C058|Smartwatch|       2| 898.36|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0004|       C077|Smartphone|       2| 718.81|2025-03-06|Home Appliances|         NULL|        Express|      15|
|         T0005|       C070|    Tablet|       1| 733.15|2025-03-02|    Electronics|      Seattle|       Standard|      20|
|         T0006|       C078|   Monitor|       3| 760.61|2025-03-02|    Accessories|San Francisco|       Standard|      20|
|         T0008|       C196|    Laptop|       3| 902.84|2025-03-05|Home Appliances|      Seattle|        Express|      15|
|         T0010|       C122|Headphones|       2| 297.01|2025-03-02|    Accessories|      Chicago|        Express|       0|
|         T0011|       C126|   Monitor|       3|  679.6|2025-03-02|    Electronics|     New York|       Standard|      20|
|         T0012|       C065|    Tablet|       3|1144.64|2025-03-07|    Electronics|      Seattle|        Express|      15|
|         T0013|       C079|   Monitor|       2| 419.75|2025-03-07|       Clothing|  Los Angeles|        Express|      10|
|         T0014|       C138|   Monitor|       2| 540.93|2025-03-04|    Electronics|  Los Angeles|       Standard|       5|
|         T0015|       C174|Smartphone|       2|1120.44|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0016|       C186|Smartwatch|       2|  91.25|2025-03-02|    Electronics|       Boston|        Express|      15|
|         T0017|       C113|  Keyboard|       2| 217.97|2025-03-04|    Accessories|     New York|       Standard|       0|
|         T0018|       C109|    Tablet|       1| 981.69|2025-03-05|       Clothing|      Chicago|       Standard|      10|
|         T0019|       C064|Smartphone|       3| 919.55|2025-03-07|    Electronics|        Miami|       Standard|      15|
|         T0020|       C013|   Monitor|       2| 442.55|2025-03-05|    Accessories|      Seattle|        Express|      10|
|         T0021|       C138|   Monitor|       3| 361.46|2025-03-03|Home Appliances|  Los Angeles|        Express|       5|
|         T0022|       C014|Headphones|       3| 713.51|2025-03-07|    Electronics|        Miami|        Express|       0|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
only showing top 20 rows

In [13]:
df.na.fill("Missing_value").show()

+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|transaction_id|customer_id|   product|quantity|  price|      date|       category|         city|shipping_method|discount|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|         T0001|       C139|Smartphone|       2| 425.17|2025-03-05|       Clothing|  Los Angeles|       Standard|       5|
|         T0002|       C020|Smartwatch|       1|  73.31|2025-03-07|Home Appliances|        Miami|        Express|       0|
|         T0003|       C058|Smartwatch|       2| 898.36|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0004|       C077|Smartphone|       2| 718.81|2025-03-06|Home Appliances|Missing_value|        Express|      15|
|         T0005|       C070|    Tablet|       1| 733.15|2025-03-02|    Electronics|      Seattle|       Standard|      20|
|         T0006|       C078|   Monitor|       3| 760.61|2025-03-02|    Accessories|San Francisco|       Standard|      20|
|         T0007|       C025|  Keyboard|       3| 289.53|2025-03-07|  Missing_value|      Seattle|        Express|       5|
|         T0008|       C196|    Laptop|       3| 902.84|2025-03-05|Home Appliances|      Seattle|        Express|      15|
|         T0009|       C097|Smartphone|       2| 257.27|2025-03-01|  Missing_value|       Boston|       Standard|      10|
|         T0010|       C122|Headphones|       2| 297.01|2025-03-02|    Accessories|      Chicago|        Express|       0|
|         T0011|       C126|   Monitor|       3|  679.6|2025-03-02|    Electronics|     New York|       Standard|      20|
|         T0012|       C065|    Tablet|       3|1144.64|2025-03-07|    Electronics|      Seattle|        Express|      15|
|         T0013|       C079|   Monitor|       2| 419.75|2025-03-07|       Clothing|  Los Angeles|        Express|      10|
|         T0014|       C138|   Monitor|       2| 540.93|2025-03-04|    Electronics|  Los Angeles|       Standard|       5|
|         T0015|       C174|Smartphone|       2|1120.44|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0016|       C186|Smartwatch|       2|  91.25|2025-03-02|    Electronics|       Boston|        Express|      15|
|         T0017|       C113|  Keyboard|       2| 217.97|2025-03-04|    Accessories|     New York|       Standard|       0|
|         T0018|       C109|    Tablet|       1| 981.69|2025-03-05|       Clothing|      Chicago|       Standard|      10|
|         T0019|       C064|Smartphone|       3| 919.55|2025-03-07|    Electronics|        Miami|       Standard|      15|
|         T0020|       C013|   Monitor|       2| 442.55|2025-03-05|    Accessories|      Seattle|        Express|      10|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
only showing top 20 rows

In [14]:
df.na.fill("Missing_value",["category"]).show()

+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|transaction_id|customer_id|   product|quantity|  price|      date|       category|         city|shipping_method|discount|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|         T0001|       C139|Smartphone|       2| 425.17|2025-03-05|       Clothing|  Los Angeles|       Standard|       5|
|         T0002|       C020|Smartwatch|       1|  73.31|2025-03-07|Home Appliances|        Miami|        Express|       0|
|         T0003|       C058|Smartwatch|       2| 898.36|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0004|       C077|Smartphone|       2| 718.81|2025-03-06|Home Appliances|         NULL|        Express|      15|
|         T0005|       C070|    Tablet|       1| 733.15|2025-03-02|    Electronics|      Seattle|       Standard|      20|
|         T0006|       C078|   Monitor|       3| 760.61|2025-03-02|    Accessories|San Francisco|       Standard|      20|
|         T0007|       C025|  Keyboard|       3| 289.53|2025-03-07|  Missing_value|      Seattle|        Express|       5|
|         T0008|       C196|    Laptop|       3| 902.84|2025-03-05|Home Appliances|      Seattle|        Express|      15|
|         T0009|       C097|Smartphone|       2| 257.27|2025-03-01|  Missing_value|       Boston|       Standard|      10|
|         T0010|       C122|Headphones|       2| 297.01|2025-03-02|    Accessories|      Chicago|        Express|       0|
|         T0011|       C126|   Monitor|       3|  679.6|2025-03-02|    Electronics|     New York|       Standard|      20|
|         T0012|       C065|    Tablet|       3|1144.64|2025-03-07|    Electronics|      Seattle|        Express|      15|
|         T0013|       C079|   Monitor|       2| 419.75|2025-03-07|       Clothing|  Los Angeles|        Express|      10|
|         T0014|       C138|   Monitor|       2| 540.93|2025-03-04|    Electronics|  Los Angeles|       Standard|       5|
|         T0015|       C174|Smartphone|       2|1120.44|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0016|       C186|Smartwatch|       2|  91.25|2025-03-02|    Electronics|       Boston|        Express|      15|
|         T0017|       C113|  Keyboard|       2| 217.97|2025-03-04|    Accessories|     New York|       Standard|       0|
|         T0018|       C109|    Tablet|       1| 981.69|2025-03-05|       Clothing|      Chicago|       Standard|      10|
|         T0019|       C064|Smartphone|       3| 919.55|2025-03-07|    Electronics|        Miami|       Standard|      15|
|         T0020|       C013|   Monitor|       2| 442.55|2025-03-05|    Accessories|      Seattle|        Express|      10|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
only showing top 20 rows

In [24]:
df.filter((df.price<60) | (df.price>600)).show()

+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|transaction_id|customer_id|   product|quantity|  price|      date|       category|         city|shipping_method|discount|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|         T0003|       C058|Smartwatch|       2| 898.36|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0004|       C077|Smartphone|       2| 718.81|2025-03-06|Home Appliances|         NULL|        Express|      15|
|         T0005|       C070|    Tablet|       1| 733.15|2025-03-02|    Electronics|      Seattle|       Standard|      20|
|         T0006|       C078|   Monitor|       3| 760.61|2025-03-02|    Accessories|San Francisco|       Standard|      20|
|         T0008|       C196|    Laptop|       3| 902.84|2025-03-05|Home Appliances|      Seattle|        Express|      15|
|         T0011|       C126|   Monitor|       3|  679.6|2025-03-02|    Electronics|     New York|       Standard|      20|
|         T0012|       C065|    Tablet|       3|1144.64|2025-03-07|    Electronics|      Seattle|        Express|      15|
|         T0015|       C174|Smartphone|       2|1120.44|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0018|       C109|    Tablet|       1| 981.69|2025-03-05|       Clothing|      Chicago|       Standard|      10|
|         T0019|       C064|Smartphone|       3| 919.55|2025-03-07|    Electronics|        Miami|       Standard|      15|
|         T0022|       C014|Headphones|       3| 713.51|2025-03-07|    Electronics|        Miami|        Express|       0|
|         T0027|       C178|   Monitor|       2| 935.82|2025-03-01|           NULL|         NULL|        Express|      10|
|         T0029|       C002|    Laptop|       2| 648.32|2025-03-05|       Clothing|       Boston|       Standard|       5|
|         T0033|       C013|   Monitor|       2| 839.02|2025-03-05|Home Appliances|      Chicago|       Standard|      15|
|         T0037|       C078|   Monitor|       2|1003.82|2025-03-07|    Accessories|       Boston|       Standard|       5|
|         T0041|       C063|   Monitor|       3| 610.12|2025-03-07|           NULL|      Seattle|        Express|      20|
|         T0043|       C079|   Monitor|       3| 911.51|2025-03-05|           NULL|San Francisco|       Standard|      20|
|         T0044|       C074|Smartphone|       2|1085.57|2025-03-01|           NULL|  Los Angeles|       Standard|       0|
|         T0046|       C086|   Monitor|       2|1140.12|2025-03-05|           NULL|San Francisco|        Express|       5|
|         T0048|       C018|Smartwatch|       3|1018.72|2025-03-02|    Accessories|  Los Angeles|       Standard|       0|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
only showing top 20 rows

In [25]:
df.filter(~(df.price<600)).show()

+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|transaction_id|customer_id|   product|quantity|  price|      date|       category|         city|shipping_method|discount|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
|         T0003|       C058|Smartwatch|       2| 898.36|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0004|       C077|Smartphone|       2| 718.81|2025-03-06|Home Appliances|         NULL|        Express|      15|
|         T0005|       C070|    Tablet|       1| 733.15|2025-03-02|    Electronics|      Seattle|       Standard|      20|
|         T0006|       C078|   Monitor|       3| 760.61|2025-03-02|    Accessories|San Francisco|       Standard|      20|
|         T0008|       C196|    Laptop|       3| 902.84|2025-03-05|Home Appliances|      Seattle|        Express|      15|
|         T0011|       C126|   Monitor|       3|  679.6|2025-03-02|    Electronics|     New York|       Standard|      20|
|         T0012|       C065|    Tablet|       3|1144.64|2025-03-07|    Electronics|      Seattle|        Express|      15|
|         T0015|       C174|Smartphone|       2|1120.44|2025-03-06|       Clothing|       Boston|        Express|      10|
|         T0018|       C109|    Tablet|       1| 981.69|2025-03-05|       Clothing|      Chicago|       Standard|      10|
|         T0019|       C064|Smartphone|       3| 919.55|2025-03-07|    Electronics|        Miami|       Standard|      15|
|         T0022|       C014|Headphones|       3| 713.51|2025-03-07|    Electronics|        Miami|        Express|       0|
|         T0027|       C178|   Monitor|       2| 935.82|2025-03-01|           NULL|         NULL|        Express|      10|
|         T0029|       C002|    Laptop|       2| 648.32|2025-03-05|       Clothing|       Boston|       Standard|       5|
|         T0033|       C013|   Monitor|       2| 839.02|2025-03-05|Home Appliances|      Chicago|       Standard|      15|
|         T0037|       C078|   Monitor|       2|1003.82|2025-03-07|    Accessories|       Boston|       Standard|       5|
|         T0041|       C063|   Monitor|       3| 610.12|2025-03-07|           NULL|      Seattle|        Express|      20|
|         T0043|       C079|   Monitor|       3| 911.51|2025-03-05|           NULL|San Francisco|       Standard|      20|
|         T0044|       C074|Smartphone|       2|1085.57|2025-03-01|           NULL|  Los Angeles|       Standard|       0|
|         T0046|       C086|   Monitor|       2|1140.12|2025-03-05|           NULL|San Francisco|        Express|       5|
|         T0048|       C018|Smartwatch|       3|1018.72|2025-03-02|    Accessories|  Los Angeles|       Standard|       0|
+--------------+-----------+----------+--------+-------+----------+---------------+-------------+---------------+--------+
only showing top 20 rows