In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("P4").getOrCreate()

25/03/07 17:21:51 WARN Utils: Your hostname, ASDLAPKCH0627 resolves to a loopback address: 127.0.1.1; using 10.10.150.163 instead (on interface wlp0s20f3)
25/03/07 17:21:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/07 17:21:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/07 17:21:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/03/07 17:21:53 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/03/07 17:21:53 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [ ]:
df=spark.read.option("header","true").csv("box_office.csv",inferSchema=True)

In [3]:
df.show()

+-------------------+---------+--------------------+----------------+--------------------+
|               film|   budget|box_office_us_canada|box_office_other|box_office_worldwide|
+-------------------+---------+--------------------+----------------+--------------------+
|          Toy Story| 30000000|           223225679|       171210907|           394436586|
|       A Bug's Life|120000000|           162798565|       200460294|           363258859|
|        Toy Story 2| 90000000|           245852179|       265506097|           511358276|
|     Monsters, Inc.|115000000|           255873250|       272900000|           528773250|
|       Finding Nemo| 94000000|           339714978|       531300000|           871014978|
|    The Incredibles| 92000000|           261441092|       370001000|           631442092|
|               Cars|120000000|           244082982|       217900167|           461983149|
|        Ratatouille|150000000|           206445654|       417280431|           623726085|
|             WALL-E|180000000|           223808164|       297503696|           521311860|
|                 Up|175000000|           293004164|       442094918|           735099082|
|        Toy Story 3|200000000|           415004880|       651964823|          1066969703|
|             Cars 2|200000000|           191452396|       368400000|           559852396|
|              Brave|185000000|           237283207|       301700000|           538983207|
|Monsters University|200000000|           268492764|       475066843|           743559607|
|         Inside Out|175000000|           356461711|       501149463|           857611174|
|  The Good Dinosaur|175000000|           123087120|       209120551|           332207671|
|       Finding Dory|200000000|           486295561|       542275328|          1028570889|
|             Cars 3|175000000|           152901115|       231029541|           383930656|
|               Coco|175000000|           210460015|       604181157|           814641172|
|      Incredibles 2|200000000|           608581744|       634223615|          1242805359|
+-------------------+---------+--------------------+----------------+--------------------+
only showing top 20 rows

In [4]:
df.collect()

[Row(film='Toy Story', budget='30000000', box_office_us_canada=223225679, box_office_other=171210907, box_office_worldwide=394436586),
 Row(film="A Bug's Life", budget='120000000', box_office_us_canada=162798565, box_office_other=200460294, box_office_worldwide=363258859),
 Row(film='Toy Story 2', budget='90000000', box_office_us_canada=245852179, box_office_other=265506097, box_office_worldwide=511358276),
 Row(film='Monsters, Inc.', budget='115000000', box_office_us_canada=255873250, box_office_other=272900000, box_office_worldwide=528773250),
 Row(film='Finding Nemo', budget='94000000', box_office_us_canada=339714978, box_office_other=531300000, box_office_worldwide=871014978),
 Row(film='The Incredibles', budget='92000000', box_office_us_canada=261441092, box_office_other=370001000, box_office_worldwide=631442092),
 Row(film='Cars', budget='120000000', box_office_us_canada=244082982, box_office_other=217900167, box_office_worldwide=461983149),
 Row(film='Ratatouille', budget='150000000', box_office_us_canada=206445654, box_office_other=417280431, box_office_worldwide=623726085),
 Row(film='WALL-E', budget='180000000', box_office_us_canada=223808164, box_office_other=297503696, box_office_worldwide=521311860),
 Row(film='Up', budget='175000000', box_office_us_canada=293004164, box_office_other=442094918, box_office_worldwide=735099082),
 Row(film='Toy Story 3', budget='200000000', box_office_us_canada=415004880, box_office_other=651964823, box_office_worldwide=1066969703),
 Row(film='Cars 2', budget='200000000', box_office_us_canada=191452396, box_office_other=368400000, box_office_worldwide=559852396),
 Row(film='Brave', budget='185000000', box_office_us_canada=237283207, box_office_other=301700000, box_office_worldwide=538983207),
 Row(film='Monsters University', budget='200000000', box_office_us_canada=268492764, box_office_other=475066843, box_office_worldwide=743559607),
 Row(film='Inside Out', budget='175000000', box_office_us_canada=356461711, box_office_other=501149463, box_office_worldwide=857611174),
 Row(film='The Good Dinosaur', budget='175000000', box_office_us_canada=123087120, box_office_other=209120551, box_office_worldwide=332207671),
 Row(film='Finding Dory', budget='200000000', box_office_us_canada=486295561, box_office_other=542275328, box_office_worldwide=1028570889),
 Row(film='Cars 3', budget='175000000', box_office_us_canada=152901115, box_office_other=231029541, box_office_worldwide=383930656),
 Row(film='Coco', budget='175000000', box_office_us_canada=210460015, box_office_other=604181157, box_office_worldwide=814641172),
 Row(film='Incredibles 2', budget='200000000', box_office_us_canada=608581744, box_office_other=634223615, box_office_worldwide=1242805359),
 Row(film='Toy Story 4', budget='200000000', box_office_us_canada=434038008, box_office_other=639356585, box_office_worldwide=1073394593),
 Row(film='Onward', budget='175000000', box_office_us_canada=61555145, box_office_other=80384897, box_office_worldwide=141940042),
 Row(film='Soul', budget='150000000', box_office_us_canada=946154, box_office_other=120957731, box_office_worldwide=121903885),
 Row(film='Luca', budget='NA', box_office_us_canada=1324302, box_office_other=49788012, box_office_worldwide=51112314),
 Row(film='Turning Red', budget='175000000', box_office_us_canada=1399001, box_office_other=20414357, box_office_worldwide=21813358),
 Row(film='Lightyear', budget='200000000', box_office_us_canada=118307188, box_office_other=108118232, box_office_worldwide=226425420),
 Row(film='Elemental', budget='200000000', box_office_us_canada=154426697, box_office_other=342017611, box_office_worldwide=496444308),
 Row(film='Inside Out 2', budget='200000000', box_office_us_canada=652980194, box_office_other=1045050771, box_office_worldwide=1698030965)]

In [5]:
df.show(vertical=True)

-RECORD 0-----------------------------------
 film                 | Toy Story
 budget               | 30000000
 box_office_us_canada | 223225679
 box_office_other     | 171210907
 box_office_worldwide | 394436586
-RECORD 1-----------------------------------
 film                 | A Bug's Life
 budget               | 120000000
 box_office_us_canada | 162798565
 box_office_other     | 200460294
 box_office_worldwide | 363258859
-RECORD 2-----------------------------------
 film                 | Toy Story 2
 budget               | 90000000
 box_office_us_canada | 245852179
 box_office_other     | 265506097
 box_office_worldwide | 511358276
-RECORD 3-----------------------------------
 film                 | Monsters, Inc.
 budget               | 115000000
 box_office_us_canada | 255873250
 box_office_other     | 272900000
 box_office_worldwide | 528773250
-RECORD 4-----------------------------------
 film                 | Finding Nemo
 budget               | 94000000
 box_office_us_canada | 339714978
 box_office_other     | 531300000
 box_office_worldwide | 871014978
-RECORD 5-----------------------------------
 film                 | The Incredibles
 budget               | 92000000
 box_office_us_canada | 261441092
 box_office_other     | 370001000
 box_office_worldwide | 631442092
-RECORD 6-----------------------------------
 film                 | Cars
 budget               | 120000000
 box_office_us_canada | 244082982
 box_office_other     | 217900167
 box_office_worldwide | 461983149
-RECORD 7-----------------------------------
 film                 | Ratatouille
 budget               | 150000000
 box_office_us_canada | 206445654
 box_office_other     | 417280431
 box_office_worldwide | 623726085
-RECORD 8-----------------------------------
 film                 | WALL-E
 budget               | 180000000
 box_office_us_canada | 223808164
 box_office_other     | 297503696
 box_office_worldwide | 521311860
-RECORD 9-----------------------------------
 film                 | Up
 budget               | 175000000
 box_office_us_canada | 293004164
 box_office_other     | 442094918
 box_office_worldwide | 735099082
-RECORD 10----------------------------------
 film                 | Toy Story 3
 budget               | 200000000
 box_office_us_canada | 415004880
 box_office_other     | 651964823
 box_office_worldwide | 1066969703
-RECORD 11----------------------------------
 film                 | Cars 2
 budget               | 200000000
 box_office_us_canada | 191452396
 box_office_other     | 368400000
 box_office_worldwide | 559852396
-RECORD 12----------------------------------
 film                 | Brave
 budget               | 185000000
 box_office_us_canada | 237283207
 box_office_other     | 301700000
 box_office_worldwide | 538983207
-RECORD 13----------------------------------
 film                 | Monsters University
 budget               | 200000000
 box_office_us_canada | 268492764
 box_office_other     | 475066843
 box_office_worldwide | 743559607
-RECORD 14----------------------------------
 film                 | Inside Out
 budget               | 175000000
 box_office_us_canada | 356461711
 box_office_other     | 501149463
 box_office_worldwide | 857611174
-RECORD 15----------------------------------
 film                 | The Good Dinosaur
 budget               | 175000000
 box_office_us_canada | 123087120
 box_office_other     | 209120551
 box_office_worldwide | 332207671
-RECORD 16----------------------------------
 film                 | Finding Dory
 budget               | 200000000
 box_office_us_canada | 486295561
 box_office_other     | 542275328
 box_office_worldwide | 1028570889
-RECORD 17----------------------------------
 film                 | Cars 3
 budget               | 175000000
 box_office_us_canada | 152901115
 box_office_other     | 231029541
 box_office_worldwide | 383930656
-RECORD 18----------------------------------
 film                 | Coco
 budget               | 175000000
 box_office_us_canada | 210460015
 box_office_other     | 604181157
 box_office_worldwide | 814641172
-RECORD 19----------------------------------
 film                 | Incredibles 2
 budget               | 200000000
 box_office_us_canada | 608581744
 box_office_other     | 634223615
 box_office_worldwide | 1242805359
only showing top 20 rows

In [7]:
df.toPandas()

ModuleNotFoundError: No module named 'distutils'

In [8]:
df.show()

+-------------------+---------+--------------------+----------------+--------------------+
|               film|   budget|box_office_us_canada|box_office_other|box_office_worldwide|
+-------------------+---------+--------------------+----------------+--------------------+
|          Toy Story| 30000000|           223225679|       171210907|           394436586|
|       A Bug's Life|120000000|           162798565|       200460294|           363258859|
|        Toy Story 2| 90000000|           245852179|       265506097|           511358276|
|     Monsters, Inc.|115000000|           255873250|       272900000|           528773250|
|       Finding Nemo| 94000000|           339714978|       531300000|           871014978|
|    The Incredibles| 92000000|           261441092|       370001000|           631442092|
|               Cars|120000000|           244082982|       217900167|           461983149|
|        Ratatouille|150000000|           206445654|       417280431|           623726085|
|             WALL-E|180000000|           223808164|       297503696|           521311860|
|                 Up|175000000|           293004164|       442094918|           735099082|
|        Toy Story 3|200000000|           415004880|       651964823|          1066969703|
|             Cars 2|200000000|           191452396|       368400000|           559852396|
|              Brave|185000000|           237283207|       301700000|           538983207|
|Monsters University|200000000|           268492764|       475066843|           743559607|
|         Inside Out|175000000|           356461711|       501149463|           857611174|
|  The Good Dinosaur|175000000|           123087120|       209120551|           332207671|
|       Finding Dory|200000000|           486295561|       542275328|          1028570889|
|             Cars 3|175000000|           152901115|       231029541|           383930656|
|               Coco|175000000|           210460015|       604181157|           814641172|
|      Incredibles 2|200000000|           608581744|       634223615|          1242805359|
+-------------------+---------+--------------------+----------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import upper,col
df.withColumn("capital_name",upper(col("film"))).show()

+-------------------+---------+--------------------+----------------+--------------------+-------------------+
|               film|   budget|box_office_us_canada|box_office_other|box_office_worldwide|       capital_name|
+-------------------+---------+--------------------+----------------+--------------------+-------------------+
|          Toy Story| 30000000|           223225679|       171210907|           394436586|          TOY STORY|
|       A Bug's Life|120000000|           162798565|       200460294|           363258859|       A BUG'S LIFE|
|        Toy Story 2| 90000000|           245852179|       265506097|           511358276|        TOY STORY 2|
|     Monsters, Inc.|115000000|           255873250|       272900000|           528773250|     MONSTERS, INC.|
|       Finding Nemo| 94000000|           339714978|       531300000|           871014978|       FINDING NEMO|
|    The Incredibles| 92000000|           261441092|       370001000|           631442092|    THE INCREDIBLES|
|               Cars|120000000|           244082982|       217900167|           461983149|               CARS|
|        Ratatouille|150000000|           206445654|       417280431|           623726085|        RATATOUILLE|
|             WALL-E|180000000|           223808164|       297503696|           521311860|             WALL-E|
|                 Up|175000000|           293004164|       442094918|           735099082|                 UP|
|        Toy Story 3|200000000|           415004880|       651964823|          1066969703|        TOY STORY 3|
|             Cars 2|200000000|           191452396|       368400000|           559852396|             CARS 2|
|              Brave|185000000|           237283207|       301700000|           538983207|              BRAVE|
|Monsters University|200000000|           268492764|       475066843|           743559607|MONSTERS UNIVERSITY|
|         Inside Out|175000000|           356461711|       501149463|           857611174|         INSIDE OUT|
|  The Good Dinosaur|175000000|           123087120|       209120551|           332207671|  THE GOOD DINOSAUR|
|       Finding Dory|200000000|           486295561|       542275328|          1028570889|       FINDING DORY|
|             Cars 3|175000000|           152901115|       231029541|           383930656|             CARS 3|
|               Coco|175000000|           210460015|       604181157|           814641172|               COCO|
|      Incredibles 2|200000000|           608581744|       634223615|          1242805359|      INCREDIBLES 2|
+-------------------+---------+--------------------+----------------+--------------------+-------------------+
only showing top 20 rows

In [15]:
df.show()

+-------------------+---------+--------------------+----------------+--------------------+
|               film|   budget|box_office_us_canada|box_office_other|box_office_worldwide|
+-------------------+---------+--------------------+----------------+--------------------+
|          Toy Story| 30000000|           223225679|       171210907|           394436586|
|       A Bug's Life|120000000|           162798565|       200460294|           363258859|
|        Toy Story 2| 90000000|           245852179|       265506097|           511358276|
|     Monsters, Inc.|115000000|           255873250|       272900000|           528773250|
|       Finding Nemo| 94000000|           339714978|       531300000|           871014978|
|    The Incredibles| 92000000|           261441092|       370001000|           631442092|
|               Cars|120000000|           244082982|       217900167|           461983149|
|        Ratatouille|150000000|           206445654|       417280431|           623726085|
|             WALL-E|180000000|           223808164|       297503696|           521311860|
|                 Up|175000000|           293004164|       442094918|           735099082|
|        Toy Story 3|200000000|           415004880|       651964823|          1066969703|
|             Cars 2|200000000|           191452396|       368400000|           559852396|
|              Brave|185000000|           237283207|       301700000|           538983207|
|Monsters University|200000000|           268492764|       475066843|           743559607|
|         Inside Out|175000000|           356461711|       501149463|           857611174|
|  The Good Dinosaur|175000000|           123087120|       209120551|           332207671|
|       Finding Dory|200000000|           486295561|       542275328|          1028570889|
|             Cars 3|175000000|           152901115|       231029541|           383930656|
|               Coco|175000000|           210460015|       604181157|           814641172|
|      Incredibles 2|200000000|           608581744|       634223615|          1242805359|
+-------------------+---------+--------------------+----------------+--------------------+
only showing top 20 rows

In [16]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
def to_upper(title):
    return title.upper() if title else None

to_upper_udf=udf(to_upper,StringType())
df.withColumn("film_upper",to_upper_udf(df.film)).show()

+-------------------+---------+--------------------+----------------+--------------------+-------------------+
|               film|   budget|box_office_us_canada|box_office_other|box_office_worldwide|         film_upper|
+-------------------+---------+--------------------+----------------+--------------------+-------------------+
|          Toy Story| 30000000|           223225679|       171210907|           394436586|          TOY STORY|
|       A Bug's Life|120000000|           162798565|       200460294|           363258859|       A BUG'S LIFE|
|        Toy Story 2| 90000000|           245852179|       265506097|           511358276|        TOY STORY 2|
|     Monsters, Inc.|115000000|           255873250|       272900000|           528773250|     MONSTERS, INC.|
|       Finding Nemo| 94000000|           339714978|       531300000|           871014978|       FINDING NEMO|
|    The Incredibles| 92000000|           261441092|       370001000|           631442092|    THE INCREDIBLES|
|               Cars|120000000|           244082982|       217900167|           461983149|               CARS|
|        Ratatouille|150000000|           206445654|       417280431|           623726085|        RATATOUILLE|
|             WALL-E|180000000|           223808164|       297503696|           521311860|             WALL-E|
|                 Up|175000000|           293004164|       442094918|           735099082|                 UP|
|        Toy Story 3|200000000|           415004880|       651964823|          1066969703|        TOY STORY 3|
|             Cars 2|200000000|           191452396|       368400000|           559852396|             CARS 2|
|              Brave|185000000|           237283207|       301700000|           538983207|              BRAVE|
|Monsters University|200000000|           268492764|       475066843|           743559607|MONSTERS UNIVERSITY|
|         Inside Out|175000000|           356461711|       501149463|           857611174|         INSIDE OUT|
|  The Good Dinosaur|175000000|           123087120|       209120551|           332207671|  THE GOOD DINOSAUR|
|       Finding Dory|200000000|           486295561|       542275328|          1028570889|       FINDING DORY|
|             Cars 3|175000000|           152901115|       231029541|           383930656|             CARS 3|
|               Coco|175000000|           210460015|       604181157|           814641172|               COCO|
|      Incredibles 2|200000000|           608581744|       634223615|          1242805359|      INCREDIBLES 2|
+-------------------+---------+--------------------+----------------+--------------------+-------------------+
only showing top 20 rows